*.onnx
*.pt
*.ipynb
*.json
*.jpg
*.jpeg
Depth_Anything_ONNX/
DepthAnythingV2/
ByteTrack/
runs
video_processing_system
__pycache__ 
vps_env
VIDPS.egg-info
logs
tensorRT
samples/highway_attika.mp4 
samples/mask_background.mp4 
samples/output.mp4
output.mp4
mqtt_credentials
assets/
vps_env2
sort_results.mp4
debug.png
debug_detection.jpg
samples/highway.mp4
get_background_video.py
